.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.rgLogo {
  color: #F09300;
  float: left;
  display: flex;
  margin-top: 7%;
  cursor: pointer;
}

.logo-img {
  cursor: pointer;
}