.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rgLogo {
    float: right;
    display: flex;
    margin-top: 5%;
    vertical-align: middle;
    justify-content: center;
  }