.card{
    border-style: solid;
    border-radius: 18px;
    background: #fff1d9;
    border-color: #ffeed1;
    box-shadow: 5px 10px 20px #e2c799;
    padding: 5%;
    margin: 3%;
}

.image{
    float: right;
    border-style: solid;
    border-radius: 10px;
    border-color: #ffeed1;
    box-shadow: 5px 10px 20px #ffdea2;
}

.flex {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #da7902;
    font-size: 4vw;
    margin-bottom: -20px;
    line-height: 75px;
}

ol{
    color:#603b00;
    width: 65%;
}

.cuisine{
    color:#014d76;
    text-transform: capitalize;
}

.ingredients {
    font-size: 2vw;
    color: #a66600;
    margin-bottom: -17px;
    
}

.directions {
    margin: 0 auto;
    margin-top: 50px;
    width: fit-content;
}

.input-and-button {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
}

input {
    width: 60vw;
    height: 50px;
    margin-right: 10px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-size: 15px;
}


.button {
    background-color: #F09300;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 150px;
}

.button:hover{
    background-color: #ffc15c;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 150px;
}

.button:active{
    background-color: #da7902;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 150px;
}
